@import '../../assets/styles/tools/tools';

.main-wrapper {
  @extend %bg-cover !optional;
  background-image: linear-gradient(to left, rgba(#000, 0.5), rgba(#000, 0.5)),
  url('../../assets/images/bg1.jpg');
  text-align: center;
  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 40px 0;
  }
}

.main-nav {
  margin: 60px auto 30px auto;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  @media only screen and (max-width: 767px) {
    margin: 30px auto;
  }
  &__link {
    display: block;
    padding: 5px 0;
    color: #fff;
    transition: color .2s;
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}

.main-languages {
  margin-top: auto;
  .app-locale-btn {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &.is-active {
      border-bottom: 2px solid $main-color;
      color: $main-color;
    }
  }
}

.logo-link {
  display: block;
  max-width: 250px;
  margin: 0 auto 20px auto;
  @media only screen and (max-width : 767px) {
    max-width: 200px;
  }
}
