.shop-nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    grid-gap: 24px;
  }
}

.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
